body {
    background-color: #d2d2d2bf;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.tempa {
    width: 200px;
    height: 200px;
    background-color: #f5f5f5e0;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
    transition: 0.30s;
    
}

.tempa:hover {
    box-shadow: 6px 6px 12px;
    width: 210px;
    height: 210px;
    padding: 10px;
    margin-top: 10px;
}

#myButton {
    padding: 5px 10px; width: 90%;
    background-color: slateblue; color: white; font-size: 1.25em; cursor: pointer;
    margin-top: 15px;
}
@media(max-width: 500px){
    .tempa {
    width: 180px;
    height: 180px;
   
}
}